/* Rich Trevillian 2019-11-24 */
/* EAB Web Designer interview test */
/* search landing page */

/* font-family: 'Cormorant', serif; */
/* font-weight: 500; */

/* font-family: 'Roboto', sans-serif; */
/* font-weight: 300; */
/* font-weight: 500; */

/* production styles (xs breakpoints : mobile-first) */

/* global typographic settings */

h1 {
  font-size: 2.7rem;
}

p {
  font-size: 1.1rem;
}

/* header photo and logo */

#head-logo {
  width: 50%;
  right: 3%;
  top: 3%;
  position: absolute;
}

.head-photo {
  background-image: url("./images/q_students.jpg");
  background-size: cover;
  min-height: 50vmin;
}

/* greeting headline and copy */

.greeting {
  padding: 50px 50px;
}

.greeting-headline {
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #555;
  padding: 0;
}

.greeting-copy {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #555;
  padding: 0;
}

.greeting-copy span {
  font-weight: 500;
}

/* (main) info confirmation form section */

main {
  background-image: url("./images/QPattern_1X_Blue.png");
  height: 630px;
}

.info {
  padding: 50px 20px;
}

.info-block {
  margin-bottom: 10px;
}

.info-headline {
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #fff;
}

.info-copy {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}

label {
  color: #a9bac6;
  font-variant: small-caps;
  margin-bottom: 1px;
  font-size: 0.9rem;
}

.form-group {
  margin-bottom: 0.2rem;
}

/* Go Bobcats! download free hockey tickets section */

section {
  background: #fdc846;
  min-height: 270px;
}

.hockey {
  padding: 50px 20px;
}

.hockey-headline {
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #093550;
}

.hockey-copy {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #093550;
}

.hockey-copy span {
  font-weight: 500;
}

.btn-dark {
  background-color: #397aba;
  border-color: #a9bac6;
}

/* mobile-only breakpoints hockey photo */
#mobile-hockey-photo {
  min-height: 400px;
  background-image: url("./images/q_hockey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

/* (footer) more info section */

footer {
  background: #093550;
}

.footer {
  padding: 50px 20px;
}

.footer-headline {
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #fdc846;
  margin-bottom: 30px;
}

.footer-copy {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #a9bac6;
}

.footer-copy a:link {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.footer-copy a:visited {
  color: #fdc846;
  font-weight: 500;
  text-decoration: none;
}

.footer-copy a:hover {
  color: #3b83bd;
  font-weight: 500;
  text-decoration: none;
}

.footer-copy a:active {
  color: #83bae8;
  font-weight: 500;
  text-decoration: none;
}

/* media queries for Bootstrap and larger breakpoints */

/* sm */
@media screen and (min-width: 576px) {
  .head-photo {
    min-height: 55vmin;
  }
  main {
    height: 530px;
  }
  .greeting {
    padding: 50px 35px 30px;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .head-photo {
    min-height: 60vmin;
  }
  main {
    height: 350px;
  }
  .info-copy {
    max-width: 300px;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  #hockey-section {
    background-image: url("./images/q_hockey.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 130%;
  }
  #mobile-hockey-photo {
    display: none;
  }
  .hockey-copy {
    max-width: 250px;
  }
}

/* lg */
@media screen and (min-width: 992px) {
  .head-photo {
    min-height: 65vmin;
  }
  h1 {
    font-size: 3.3rem;
    margin-top: -1px;
  }
  .info-copy {
    max-width: 430px;
    font-size: 1.3rem;
    margin-bottom: 23px;
  }
  #hockey-section {
    background-position-x: right;
  }
  section {
    min-height: 450px;
  }
}

/* xl */
@media screen and (min-width: 1200px) {
  .head-photo {
    min-height: 70vmin;
  }
  h1 {
    font-size: 3.8rem;
    margin-top: 1px;
  }
  p {
    font-size: 1.35rem;
  }
  section {
    min-height: 550px;
  }
}

@media screen and (min-width: 1600px) {
  .head-photo {
    min-height: 75vmin;
  }
  section {
    min-height: 600px;
  }
  .hockey-copy {
    max-width: 450px;
  }
}

@media screen and (min-width: 2200px) {
  .head-photo {
    min-height: 80vmin;
  }
  section {
    min-height: 750px;
  }
}
